h1{
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  background: mediumpurple;
  color: lightblue;
}

h2{
  padding: 50px 0;
  border-top: 2px solid darkgreen;
  border-bottom: 2px solid darkgreen;
  background: orange;
}

section{
  border: 30px blue solid;
  height: 300px;
  margin-top: 401px;
}

span{
  border: 1px yellow solid;
  padding: auto;
  margin: auto;
}
