
*{
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

:root{
  --bluegray: #66768A;
  --gray: #DBDFE2;
  --darkblue: #161F2A;
}
html{
  background: black;
}

body{
  max-width: 1024px;
  margin: 0 auto;
}

button{
  cursor: pointer;
}
/*HEADER--------------------------------*/
header ul{
  float: left;
  width: 100%;
}
header nav ul > *{
  float: left;
  list-style: none;
  width: 10%;
  color: white;
}

header nav ul img{
  width: 70%;
  padding-left: 26%;
}
header nav ul a{
  color: white;
  text-decoration: none;
  padding: 7% 5%;
  border-radius: 5px;
}

header nav ul li:last-of-type a{
  background: white;
  color: var(--bluegray);
}
/*SECTION1--------------------------------*/
.section1{
  text-align: center;
  background: var(--bluegray);
  color: white;
  height: 511px;
  padding: 10%;
}
.section1 h1{
  font-size: 2.6em;
  width: 100%;
}

.section1 > *{
  font-size: 1.5em;
}
/*SECTION2--------------------------------*/
.section2{
  height: 367px;
  padding: 10% 20%;
  text-align: center;
  background: white;
}

.section2 > *{
  font-size: 1.5em;
}
.section2 > h2{
  padding: 0;
  margin: 0;
}
/*SECTION3--------------------------------*/
.section3{
  background: var(--gray);
  height: 624px;
}
.section3 > div{
  margin-left: 10%;
  height: 100%;
  width: 100%;
}
.section3 article{
  float: left;
  width: 40%;
  height: 624px;
  position: relative;
  padding-top: 10%;
}
.section3 article>*{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.section3 article > div{
  height: 35%;
  width: 80%;
  background: var(--bluegray);
  margin-left: 50%;
  /*remember that the length being pushed is based on the bounding box itself*/
  transform: translateX(-50%);
}
.section3 button,.section4 button{
  background:transparent;
  padding: 3% 10%;
  border: 1px solid;
  margin-left: 50%;
  /*remember that the length being pushed is based on the bounding box itself*/
  transform: translateX(-50%);
}


/*SECTION4--------------------------------*/
.section4{
  height: 456px;
  background: white;
  padding: 10% 20% 0 20%;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
}
.section4 > *{
  margin-top: 20px;
}

.section4 button{
  padding: 3% 10%;
  transform: translateX(-75%);
}
/*FOOTER--------------------------------*/

footer{
  height: 240px;
  background: var(--darkblue);
  padding: 3% 5%;
}
footer > *{
  float: left;
  width: 20%;
}
footer section:first-child{
  width: 15%;
}
footer > div{
  width: 65%;
  height: 30%;
}

footer nav{
  color: white;
}
footer section:first-child > *{
    margin-bottom: 5%;
}
footer section:first-child span{
  clear:both;
  color: grey;
}

footer section:first-child nav ul{
  padding: 0;
  margin: 0;
  
}
footer section:first-child nav li{
  float: left;
  width: 50%;
  list-style: none;
  margin-bottom: 20px;
}
footer section:first-child nav li> a{
  color: white;
  text-decoration:none;
}

footer section:last-of-type{
  color:white;
}

footer section:last-of-type span{
  font-weight: bold;
}
footer section:last-of-type p{
  margin-top:0;
}
hr{
  width: 100%;
  clear:both;
  height: 1px;
}

footer > p{
  width: 100%;
  margin: 0;
  color: white;
  margin-top: 10px;
}



