:root{
  --purple: rgba(241,63,247,1);
  --green: rgba(0,253,81,1);
  --blue: rgba(0,254,255);
}
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 260px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 100%;
  height: 65px;
}

#purple{
  background: var(--purple);
}
#green{
  background: var(--green);
}
#blue{
  background: var(--blue);
}
#yellow{
  background: yellow;
}
#replitBadge { height: unset }
